@import "tailwindcss";

::selection {
    background-color: #ffff05;
    color: black;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --color-ring: var(--ring);
    --color-border: var(--border);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --border: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --border: oklch(1 0 0 / 10%);
    --ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

::view-transition-group(root) {
    animation-duration: 0.9s;
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

::view-transition-new(root) {
    animation-name: slide-down-reveal;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
    animation: none;
    z-index: -1;
}

@keyframes slide-down-reveal {
    0% {
        clip-path: inset(0 0 100% 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}
